<h1>Hello! <%= @user.username %></h1>
<table align="center">
        <tr>
          <th>Tweet</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% @user.tweets.each do |tweet| %>
        <tr>
          <td> <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></td>
          <td> <a href="/tweets/<%= tweet.id %>/edit">Edit</a></td>
          <td> <a href="/tweets/<%= tweet.id %>/delete">Delete</a></td>
        </tr>
        <% end %>
        
</table>
<br>
<br>
<a class="button" href="/tweets/new">Create New Tweet</a>
